@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
  color: #2d4254;
  font-size: 14px;

}

.App * {
  box-sizing: border-box;
 
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
}

h2 {
  color: #ef3a7c;
  margin: 5 auto;
}

h3 {
  color: #4e90d8;
  margin: 2px auto;
}

.hr {
  border: 0.5px solid #4e90d8;
  margin: 10px 0;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #888;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
  justify-self: right;
  color: #888;
}

.number-of-events-input {
  width: 100px;
  justify-self: right;
  color: #2d4254;
  font-size: 14px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
  font-size: 14px;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #fcf9eb;
  cursor: default;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #4e90d8;
  color: #ffffff;
}

.event {
  padding: 10px 10px 35px 10px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ef3a7c;
  border-radius: 4px;
  position: relative;
}

.details-btn {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #ffffff;
  background-color: #4e90d8;
  border: none;
}

.details-btn:hover {
  position: absolute;
  right: 15px;
  bottom: 15px;
  padding: 5px 8px;
  border: 1px solid #4e90d8;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  color: #4e90d8;
  background-color: #ffffff;
}

.alerts-container {
  position: center;
  margin: 0 auto;
  width: 250px;
  z-index: 1000;
}

.charts-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 15px;
}

@media (max-width: 768px) {
  .charts-container {
    grid-template-columns: 1fr;
    align-items: center;
  }
}
