@import url(https://fonts.googleapis.com/css?family=Roboto:500);
.App {
  text-align: center;
  padding: 2% 5%;
}

.App * {
  box-sizing: border-box;
}

ul {
  padding: 0;
  list-style: none;
}

p {
  margin: 5px 0;
  font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
  color: #4d3485;
}

h3 {
 line-height: 1.2;
 margin-top: 5px;
}

input[type="text"],
input[type="number"] {
  padding: 8px 6px 8px 10px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  line-height: 20px;
  align-self: center;
  height: 38px;
  margin-bottom: 20px;
}

.city {
  width: 250px;
}

#city-search {
  display: flex;
  flex-direction: column;
  margin: auto;
  position: relative;
}

.suggestions {
  width: 250px;
  position: absolute;
  top: 45px;
  z-index: 2;
  align-self: center;
  margin: 0;
  font-size: 14px;
  box-shadow: 10px 10px 16px -12px rgba(0, 0, 0, 0.75);
  background-color: #e2d2ff;
  border-radius: 4px;
}

.suggestions > li {
  text-align: left;
  padding: 8px 6px 8px 10px;
  background-color: #e2d2ff;
  cursor: default;
  border-radius: 4px;
  text-color: #4d3485;
}

.suggestions > li:last-child {
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.suggestions > li:hover {
  background-color: #4d3485;
  color: #ffffff;
}

.event {
  padding: 10px 10px 35px;
  margin-bottom: 10px;
  text-align: left;
  border: 1px solid #ccc;
  border-radius: 4px;
  position: relative;
  max-width: 600px;
  margin: 10px auto;
  background-color: #efe8fc;
}

.details-btn {
  position: absolute;
  right: 10px;
  bottom: 10px;
  padding: 5px 8px;
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  border: 1px solid #ccc;
  background-color: #4d3485;
  color: #ffffff;
  
}

.details-btn:hover {
  background-color: #ffffff;
  color: #4d3485;
  
}

.logo  {
  text-align: center;
  padding-top: 25px;
  padding-bottom: 15px;
}

.logo img {
  width: 200px;
}

.alerts-container {
  position: fixed;
  top: 40px;
  left: 30px;
  width: 250px;
  z-index: 1000;
}